body {
  font-family: 'Roboto', sans-serif;
}

.top-container {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: flex-start;
  max-width: 70%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-container {
  flex: 1;
  font-size: 24px;
  color: #F9FAF8;
}

.logo-item {
  color: #E5E7EB;
}

.navigation-container {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  flex: 1;
}

.navigation-item {
  font-size: 18px;
  color: #E5E7EB;
}

.top-content {
  display: flex;
  max-width: 70%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.top-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-left .main-text {
  flex: 1 1 auto;
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
}

.top-left .secondary-text {
  flex: 1 1 auto;
  font-size: 18px;
  color: #E5E7EB;
}

.top-left .button {
  background-color: #3882F6;
  font-weight: bolder;
  width: 100px;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
}

.top-right {
  flex: 1;
  display: flex;
}

.top-right .img {
  flex: 1 1 auto;
  background-color: #E5E7EB;
}

.upper-mid-container {
  padding-bottom: 100px
}

.upper-mid-container p {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  color: #1F2937;
  margin: 50px;
}

.illustrations-group-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.illustration-container {
  width: 155px;
}

.illustration-container .illustration {
  height: 150px;
  width: 150px;
  border: 4px solid #3882F6;
  border-radius: 16px;
}

.illustration-container .text {
  font-size:  18px;
  color: #1F2937;
  text-align: center;
  margin-top: 10px;
}

.lower-mid-container {
  background-color: #E5E7EB;
  padding-top: 90px;
  padding-bottom: 90px;
}

.quote-container {
  max-width: 70%;
  margin: auto;
}

.lower-mid-container p {
  font-size: 36px;
  color: #1F2937;
  padding-left: 140px;
  padding-right: 140px;
}

#from {
  font-size: 24px;
  color: #1F2937;
  text-align: right;
}

.bottom-container {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 70%;
  margin: auto;
}

.cta-container {
  display: flex;
  background-color: #3882F6;
  border-radius: 16px;
  color: #F9FAF8;
  font-size: 18px;
  padding: 50px 140px 50px 140px;
}

.cta-text {
  flex: 3;
}

.cta-text .main {
  font-size: 24px;
}

.cta-button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cta-button .button {
  border: 2px solid white;
  border-radius: 8px;
  padding: 6px 30px 6px 30px;
}
